*{background-color:aqua;}

.meuNome{font-family: verdana;}

.descricao{font-family:monospace;}

.el1{padding-top: 10px; padding-left: 20px;}

.el2{padding-top: 10px; padding-left: 20px;}

.el3{padding-top: 10px; padding-left: 20px;}

.el4{padding-top: 10px; padding-left: 20px;}

.el5{padding-top: 10px; padding-left: 20px;}