*{background-color:antiquewhite;}

.meuNome{font-family: verdana;
    text-align: center;
    text-transform: uppercase;
}

.descricao{font-family:monospace;}

.lista {padding-top: 5px;
       padding-bottom: 20px;
}

.Border {padding: 2px;
        border: 4px solid black;
        text-align: center;
        text-decoration: none !important;
        text-transform: uppercase;
        border-radius: 100px;
        padding-block: 14px;
}

.img {max-width: 20%;
}

